#answers {
  width: 44vw;
  height: 33vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.answers {
  align-content: center;
  color: white;
  width: 20vw;
  height: 10vh;
  margin: auto;
  margin-bottom: 5vh;
  text-align: center;
  background: linear-gradient(to bottom, rgba(179,0,179,1) 0%, rgba(128,0,128,1) 40%, rgba(128,0,128,1) 60%, rgba(179,0,179,1) 100%);
  box-shadow: inset 0 0 5px #000;
}

.answers:hover {
  background: linear-gradient(to bottom, rgba(128,0,128,1) 0%, rgba(179,0,179,1) 40%, rgba(179,0,179,1) 60%, rgba(128,0,128,1) 100%);
}

.possible-guesses {
  text-align: center;
}

#question-header {
  margin-left: 25vw;
  color: white;
  font-size: 4vh;
  background: linear-gradient(to bottom, rgba(57,182,57,1) 0%, rgba(76,189,76,1) 32%, rgba(111,202,111,1) 100%);
  box-shadow: inset 0 0 5px #000;
  margin-top: 6vh;
  margin-bottom: 3vh;
  padding-left: 2vw;
  padding-top: 2vh;
  width: 50vw;
  height: 20vh;
}
