.footer{
  width: 100vw;
}

footer {
  text-align: center;
  color: white;
  height: 5vh;
  background: #232323;
}

#footer-text {
  font-size: 1em;
  padding-top: 0.5em;
  padding-bottom: 1.1vh;
}

#lallie {
  text-decoration: none;
  color: white;
}
