.footer{
  width: 100vw;
}

footer {
  text-align: center;
  color: white;
  height: 5vh;
  background: linear-gradient(to bottom, rgba(185,42,229,1) 0%, rgba(222,168,235,1) 50%, rgba(185,42,229,1) 100%);
}

#footer-text {
  font-size: 1em;
  padding-top: 0.5em;
}
