#header-title {
  height: 8vh;
  width: 100vw;
  color: white;
  background: #232323;
  padding-top: .5em;
  padding-bottom: .5em;
}

#title-text {
  font-family: 'Ranchers', cursive;
  font-size:6vh;
  margin: 0;
  text-align: center;
}
