#header-title {
  height: 6vh;
  width: 100vw;
  color: white;
  background: linear-gradient(to bottom, rgba(185,42,229,1) 0%, rgba(222,168,235,1) 50%, rgba(185,42,229,1) 100%);
  padding-top: .5em;
  padding-bottom: .5em;
}

#title-text {
  margin: 0;
  padding: 1.5vh;
  text-align: center;
}
