
#question-container {
  border: 1px solid black;
  position: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5em;
  margin: auto;
  color: black;
  font-size: 5vh;
  width: 82vw;
  height: 61vh;
  background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
}
