#cat-container {
  width: 81vw;
  height: 88vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cat-titles {
  width: 20vw;
  height: 20vh;
  border: 1px solid black;
}
