
#question-container {
  border: 1px solid black;
  position: center;
  margin: auto;
  color: black;
  font-size: 5vh;
  width: 88vw;
  height: 64vh;
  margin-bottom: 2vh;
  background: linear-gradient(to bottom, rgba(145,232,66,1) 0%,
                                         rgba(210,255,82,1) 50%,
                                         rgba(145,232,66,1) 100%);
}

.question-text {
  text-align: center;
}
