#scores {
  margin: auto;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
}


h1 {
  font-size: 3vh;
}

.scores {
  border-radius: 3px;
  border: 1px solid black;
  display: flex;
  flex: 3;
}

#score-one {
  margin: auto;
  width: 30vw;
  padding:.5em;
  text-align: center;
}

#score-one-number {
  text-align: center;
}

#score-two {
  font-size: 3vh;
  margin: auto;
  width: 30vw;
  padding: .5em;
  text-align: center;
}

#score-two-number {
  text-align: center;
}

#turn-display {
  font-size: 3vh;
  margin: auto;
  padding: .5em;
  text-align: center;
}

#team-name {
  border-radius: 3px;
}
