#winner {
  border: 1px solid black;
  position: center;
  margin: auto;
  color: white;
  font-size: 5vh;
  width: 88vw;
  height: 64vh;
  margin-bottom: 2vh;
  background: linear-gradient(to bottom, rgba(57,182,57,1) 0%, rgba(76,189,76,1) 32%, rgba(111,202,111,1) 100%);
  box-shadow: inset 0 0 5px #000;
}

#winner-display {
  text-align: center;
}

.giphy-embed {
  margin-left: 17vw;
}

#giphy {
  font-size: 12px;
  text-decoration: none;
  color: black;
  margin-left: 40vw;
}
