@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  background: rgba(222,229,42,1);
  box-shadow: inset 0 0 5px #000;
}
