html, body {
  font-family: 'Raleway', sans-serif;
  height: auto;
  width: 99%;
  margin: 0;
  padding: 0;
}

#start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  background-color: #ff0084;
  box-shadow: inset 0 0 5px #000;
  color:#FFFFFF;
}

#button:hover {
  background-color: #b2005c;
}
